body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

video {
  width: 100%;
  height: 60vh;
  background: black;
}

#channelList {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.channel {
  padding: 10px;
  background: #111;
  border-radius: 8px;
}

.channel.active {
  background: #333;
}

.hidden {
  display: none;
}

input {
  width: 80%;
  padding: 10px;
}
