body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

#video {
  width: 100vw;
  height: 60vh;
  background: black;
}

#ui {
  padding: 20px;
}

#playlistUrl {
  width: 60%;
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

.channel {
  padding: 10px;
  margin: 5px 0;
  background: #111;
}
.channel.active {
  background: #333;
}
